<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/unal_colores.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="margin-top:20px">
        Proyecto 
        <br> Modelos estocásticos y simulación en computación y comunicaciones
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://sia.bogota.unal.edu.co/buscador/service/asignaturaInfo.pub?plan=&cod_asignatura=2025969" target="_blank" style="margin-top:30px">Acerca de la asignatura</a>
      </p>
    </div>
  </div>
  
  
  <div>
    <h2> Muchas gracias por su visita </h2>
    <p> Este proyecto tiene como objetivo aplicar el tema <a target="_blank" href="http://personales.upv.es/jpgarcia/LinkedDocuments/teoriadecolasppt.pdf"> teoría de colas</a>, el cual hace parte del contenido de la asignatura Modelos estocásticos y simulación en computación y comunicaciones de la <a target="_blank" href="http://unal.edu.co/">Universidad Nacional de Colombia</a>. </p>

    <p>Le agradecemos registrarse para tener acceso al proyecto.</p>  
  
  <br> 
  <strong> Hernan D. Torres C. </strong>
</section>
